.card-slide{
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff6f6;

}


.card-slide h3{
    color: #979191;
    margin-top: 1rem;
}

.card-slide img{
    width: 100%;
    margin-bottom: var(--mg-bottom);
}